{% extends  'ecom/main.html' %}


{% load static %}




{% block content %}

<div class="cost-items">
    <div class="box-element">
        <table class="table" >
            

            <tr>
                <div class="container">

                     
                    <th><a href="" class="btn-dark">continue Shopping &#x2190;</a></th>
        
                <th><h5>items:</h5><strong></strong></th>
                <th><h5>Total</h5><strong>$43.45</strong></th>
                <th> <a href="{% url 'store' %}" class="btn-green" style="float: left; margin: 5px;"href="">Checkout</a></th>
            </div>
            </tr>
           </table>
    </div>
   







    </div>

    <div style="flex: 1"> grandtotal</div>

    <div class="cost-items">

        <div class="box-element"> 

            <div class="container">

                <div style="flex:2"></div>
                <div style="flex:2"><strong>item</strong></div>
                <div style="flex:1"><strong>price</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
                
            
                <br>
                <br>

                </div>
                <div class="container">

                    
                <div style="flex:2">
                    <img class="row-image" src="{% static 'images/placeholder.png' %}" alt="">
                </div>
                    
                <div style="flex:2">product</div>
                <div style="flex:1">$45.67</div>
                <div style="flex:1">

                    
                
          <p class="quantity">3</p>
          
          <div class="quantity">
            
            <img class=" chg-quantity " src="{% static 'images/arrow-up.png' %}" alt="">

            <img class=" chg-quantity " src="{% static 'images/arrow-down.png' %}" alt="">
   
           

          </div>

                </div>
               

         
           
               <div style="flex:1">

                $34.67

                </div> 
    
    
    
        
                </div>
            </div>


        </div>

        
   
    </div>
    {%  endblock content %}
