{% extends  'ecom/main.html' %}

{% load static %}

{% block content %}

    <div class="container">


        <div class="product-col">
            <img src="{% static 'images/book.jpg' %}" alt="">

            <div class="detail-description">

                <h3>Books</h3>
            </div>
            <h4>$23.45</h4>

            <button class="btn">AddToCart</button>
        </div>

        <div class="product-col">
            <img src="{% static 'images/shoes.jpg' %}" alt="">

            <div class="detail-description">

                <h3>shoe</h3>
            </div>
            <h4>$23.45</h4>

            <button class="btn">AddToCart</button>
        </div>

        <div class="product-col">
            <img src="{% static 'images/shirt.jpg' %}" alt="">

            <div class="detail-description">

                <h3>shirt</h3>
            </div>
            <h4>$23.45</h4>

            <button class="btn">AddToCart</button>
        </div>

        <div class="product-col">
            <img src="{% static 'images/watch.jpg' %}" alt="">

            <div class="detail-description">

                <h3>watch</h3>
            </div>
            <h4>$23.45</h4>

            <button class="btn">AddToCart</button>
        </div>

        <div class="product-col">
            <img src="{% static 'images/headphones.jpg' %}" alt="">

            <div class="detail-description">

                <h3>headphones</h3>
            </div>
            <h4>$23.45</h4>

            <button class="btn">AddToCart</button>
        </div>

        {% endblock %}


    </div>





   

